ZD-109 Leave Record System (Excel)

Requirements:

To help with counting as of today how many remaining leaves an employee still have.
as of today pro rata.
Allow HR admin to input the employee list

For each employee, for each year:
How many AL they have
How many AL they have used
How many AL to carry over

May only carry over for N years, say, 2 years.
Password protect the excel
Gather more requirements from Apple after first demo
Use excel is good enough


when first day, 1 year how many AL
this year 1.1-12-31 10AL
dates taken leaves
2 years no change, +1 till 18.
next year 4 months need to clear holidays